@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Slackey&display=swap');

@media screen and (min-width: 992px) {

    /* Parte de arriba del juego, info del juego */
    @media screen {


        .info-juego-container {
            background: #7a7a7a;
            width: 100%;
            padding-left: 102px;
        }

        .juego-info {

            display: flex;
            justify-content: space-between;
            width: 1000px;
            height: 100px;
        }

        .header-main-info {
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .opciones-juego-header-main-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 12px;
            width: 160px;
        }

        .opciones-juego-header-main-info .votos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            width: 160px;
        }

        .opciones-juego-header-main-info .votos .cant-total-votos,
        .info-partidas {
            color: var(--blanco);
        }

        .nombre-juego {
            color: var(--primario);
        }

        .img-juego-miniatura {
            border-radius: 10px;
        }

        .breadcrumb{
            color: var(--primario-l1);
        }
        .breadcrumb span {
            color: var(--secundario-l1);
        }

        .info-partidas {
            margin-top: 5px;
        }

        .grupo-info-game {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;
        }
    }

    /* Juego + su botonera */
    @media screen {

        .contenido-de-la-pagina{
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 100%;
        }
        .contenedor-principal {
            width: 1000px; /* Establece el ancho en 1000px */
            margin-left: 102px; /* Asegura que comience desde la izquierda */       
            
        }

        .publicidad {
            flex: 1;
        }

        .publicidad-contenedores{
            height: 675px;
            width: 100%;
            padding: 1em 2em;
        }
        .publicidad1 , .publicidad2, .publicidad3 {
            
            height: 100%;
            width: 100%;
            padding: 20px;
        }

        .publicidad img{
            width: 100%;
            height: 100%;
        }



        /* juego */
        .contenedor-juego {
            display: flex;
            justify-content: start;
            width: 100%;
            flex-direction: column;
        }


        .contenedor-juego .contenedor-imagen-juego-full,
        .opciones-juego-contenedor-juego {
            width: 1000px;
        }

        .contenedor-juego .contenedor-imagen-juego-full .contenedor-interior {
            position: relative;
            border: 3px solid black;
            background-color: #303030;
        }

        .contenedor-juego .contenedor-imagen-juego-full .contenedor-interior img.imagen-juego-full {
            filter: brightness(20%);
            width: 100%;
            height: 100%;
        }

        /* Botonera , opciones de abajo del juego */
        .opciones-juego-contenedor-juego {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--negro-opciones-juego);
            border: 1px solid black;
        }

        .botones-fav-fullscreen-incrustar img {
            margin: 22px;
            width: 35px;
            height: 35px;
        }
        .corazon-botonera{
            cursor: pointer;
        }
        .favorito{
            margin-left: 5px;
            filter: invert(50%) sepia(100%) saturate(1484%) hue-rotate(320deg) brightness(100%) contrast(500%);
        }

    }


    /* boton Compartir */
    @media screen {

        .boton-compartir {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            padding: 0.8em 2em;
            line-height: 1em;
            text-decoration: none;
            background-color: #2691d9;
            border-radius: 30px;
            color: white;
            transition-duration: .2s;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .boton-compartir:hover {
            animation-name: tembleque;
            animation-duration: .5s;
            animation-timing-function: ease;
        }

        .boton-compartir:active {
            transform: scale(.85, .85);
        }

        .boton-compartir img {
            filter: invert(100%) sepia(100%) saturate(1484%) hue-rotate(30deg) brightness(1000%) contrast(130%);
            height: 20px;
            margin-right: 15px;
        }



        /**********
          ANIMACIONES
          ***********/

        @keyframes tembleque {
            0% {
                transform: rotateZ(0deg);
            }

            13% {
                transform: rotateZ(10deg);
            }

            26% {
                transform: rotateZ(0deg);
            }

            39% {
                transform: rotateZ(-8deg);
            }

            52% {
                transform: rotateZ(0deg);
            }

            62% {
                transform: rotateZ(6deg);
            }

            72% {
                transform: rotateZ(0deg);
            }

            82% {
                transform: rotateZ(-4deg);
            }

            92% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(2deg);
            }
        }
    }

    /* boton play */
    @media screen {
        .btn-play {
            background: rgba(var(--blanco), 0);
            color: var(--blanco);
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 40%;
            top: 40%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }


        /* Button 5 - Borde Resplandor */
        .btn-play {
            border: 0 solid;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
            outline: 5px solid;
            outline-color: rgba(255, 255, 255);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            background: rgba(var(--blanco), 1);
            color: var(--primario);
        }

        .btn-play:hover {
            border: 1px solid;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 15px;
            text-shadow: 1px 1px 2px #427388;
        }

        .btn-play img {
            padding-left: 10px;
            width: 60px;
            height: 60px;
        }

        .btn-play img:hover {
            filter: invert(70%) sepia(100%) saturate(1484%) hue-rotate(30deg) brightness(1000%) contrast(130%);
        }

    }


    /* Como jugar el juego */
    @media screen {

        .contenedor-info-extra {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            color: var(--blanco);
        }
        .contenedor-info-extra h2{
            margin-left: 10px;
        }

        .contenedor-info-extra h2,
        .contenedor-info-extra h3 {
            color: var(--primario);
        }

        .titulos-informacion-extra {
            display: flex;
            align-items: flex-start;
            align-items: center;
            margin: 10px;
            color: var(--primario);
        }

        .descripcion p {
            margin: 20px;
        }

        .descripcion h3 {
            margin: 10px;
            padding-left: 25px;
        }

        .titulo-informacion-extra h2 {
            padding: 5px;
        }
        ul.lista-de-indicaciones{
            padding-left: 100px;
            
        }
        .descripcion .control-teclado-descripcion {
            list-style-type: disc;
        }

        .ayuda-imagenes-controles {
            display: flex;
            margin: 40px 200px;
        }

        /* Gameplays */

        .cards-media{
            width: 100%;
            height: 192px;
            display: flex;
            justify-content: space-evenly;
        }

        .cards-media img{
            width: 192px;
            height: 124px;
            background-color: red;
            border-radius: 20px;
        }








        /* comentarios */

        .container-agregar-comentario{
            margin-left: 34px;
            background-color: #D9D9D9;
            height: fit-content;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            color: black;
            padding-top: 20px;
        }
        .container-agregar-comentario input{
            font-size: 25px;
            font: var(--texto-body);
            flex: 0.90;
            background-color: transparent;   
            border: none;
            border-bottom: 2px solid rgba(128, 128, 128, 0.825); /* Agrega un borde inferior gris */         
            padding-bottom: 9px; /* Espacio entre el texto y el borde inferior */

        }

        .container-agregar-comentario .agregar-comentario-botones{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .container-agregar-comentario .agregar-comentario-botones button{
            border-radius: 5px;
            height: 30px;
            width: 120px;
            margin-right: 20px;
            background-color: transparent;   
            font: var(--texto-body);
        }   

        .container-agregar-comentario .agregar-comentario-botones .boton-comentar{
            background-color: var(--primario);
        }

        .container-agregar-comentario .agregar-comentario-botones button:hover{
            background-color: var(--primario-l1);
        }


        .container-agregar-comentario img{
            width: 50px;
            margin-left: 20px;
            margin-right: 20px;
        }  

        .container-comentarios .comentarios-container{
            height: fit-content;
            flex: 1;
            margin-left: 105px;
            margin-bottom: 50px;
        }

        .container-comentarios .comentarios-container .comentario{
            margin-inline-end: 130px;
            border-radius: 20px ;
            display: flex;
            margin-top: 20px;
            padding-top: 20px;
            background-color: #696969 ;
            padding-left: 15px;
        }

        .comentario .avatar{
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .comentario .primer-linea{
            display: flex;
        }
        .comentario .primer-linea .mail{
            color: var(--primario);
            margin: 0 10px 0 0;
        }

        .comentario .segunda-linea{
            margin-top: 10px;
        }

        .comentario .tercera-linea{
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }

        .comentario .tercera-linea img{
            margin-right: 10px;
            width: 24px;
            height: 24px;
            filter: invert(100%) sepia(30%) saturate(1484%) hue-rotate(30deg) brightness(1000%) contrast(130%);
        }
        .comentario .tercera-linea p{
            font: var(--texto-body);
        }


        

    }


}